* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h2 {
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

a {
  color: #2B2D2D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card-wrapper {
  width: 310px;
  height: 360px;
  border: 1px solid #ECE9E3;
  border-radius: 4px;
}

.card-date-amount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  overflow: hidden;
  height: 80px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-date, .card-amount {
  font-size: 17px;
  line-height: 17px;
  display: flex;
}

.card-bottom i img {
  height: 17px;
  width: 17px;
}

.line-wrapper {
  position: relative;
  height: 25px;
  flex-grow: 1;
  margin-right: 15px;
}

.bg-line {
  background: #dce0e0;
  height: 7px;
  position: relative;
  top: 10px;
  width: 100%;
  border-radius: 15px;
}

.active-line {
  background: #D9728E;
  height: 7px;
  position: absolute;
  top: 10px;
  border-radius: 15px;
}

.card-percent-wrapper {
  display: flex;
}